#root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("https://img.freepik.com/free-vector/subtle-rombus-white-gray-pattern-background_1017-25098.jpg?w=2000")
}

p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
  background-color: #ddceda39;
}

form {
  margin-bottom: .5em;
}